# ------------------------------
# Python
# ------------------------------
__pycache__/

# ------------------------------
# Windows
# ------------------------------
Thumbs.db

# ------------------------------
# macOS
# ------------------------------
*.DS_Store